.vehicle-model-container{

    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* to make the events pass through to the table */
    pointer-events: none;
}

.vehicle-model-image{
    width: 35%;
    fill: var(--text-color);
}


#vehicle-model .gauge-div{
    position: relative;
}


.vehicle-model-table {
    width: 100%;
    height: 100%;
}

.vehicle-model-table tr{
    height: 50%;
}

/*
    left side torque gauge
*/
.vehicle-model-table tr td:nth-of-type(2){
    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;

    float: left;
}



.vehicle-model-table tr td:first-of-type{
    float: left;

    width: 20%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

.vehicle-model-table tr td:nth-of-type(3){
    float: right;

    width: 20%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

/*
    right side torque gauge
*/
.vehicle-model-table tr td:last-of-type{

    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;

    float: right;

}






.vehicle-model-torque {
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;

    border: 1px dashed var(--text-color);
    border-radius: 4px;
}

.vehicle-model-torque-positive{
    height: 50%;
    width: 100%;

    background-size: 100% 75%;

    transform: rotate(180deg); /* rotate to fill background from bottom to top, not the other was */
}
.vehicle-model-torque-negative{
    height: 50%;
    width: 100%;

    background-size: 100% 75%;
}


/*
    classes for the colors since in reverse the colors need to be flipped
 */
.vehicle-model-positive-bg{
    background: linear-gradient( var(--accent-color) , var(--accent-color)) rgba(0,0,0,0) no-repeat 0 0;
}

.vehicle-model-negative-bg{
    background: linear-gradient( var(--color-bad) , var(--color-bad)) rgba(0,0,0,0) no-repeat 0 0;
}